<% title "Department" %>

<div id="header">
  <h1>Equipment Decision Support</h1>
  <div id="account">
    Apirak |
    <a href="#">account</a> |
    <a href="#">help</a> |
    <a href="#">logout</a>
  </div>
</div>

<%= netzke :departments,
  :class_name => "BorderLayoutPanel",
  :ext_config => { :header => false, :border => false, :height => 550 },
  :regions => {
  :north => {
    :class_name => "Panel",
    :ext_config => {:el => :header, :header => false, :border => false},
    :region_config => {:height => 50}
  },
  :center => {
    :class_name => "TabPanel",
    :ext_config => {
      :title => "Two GridPanels loaded dynamically"
    },
    :items => [{
        :class_name => "GridPanel",
        :ext_config => {
          :view_config => {
            :force_fit => true,
          }
        },
        :model => "Department",
        :name => "department",
        :columns => [:id, :description, :name, :synonym,
          {:name => :location, :width => 200},
          :phone, :remark,
          :lat, :lng,
          {:name => :department_class, :header => "Class"}
        ]
      }, {
        :class_name => "GridPanel",
        :preloaded => true,
        :model => "Staff",
        :name => "staff",
        :columns => [:id, :department_id,:code, :firstname, :surname,
          :nickname, :email, :password, :phone, :post,
          :ability, :status, :remark, :fullname
        ]
      }, {
        :class_name => "GridPanel",
        :preloaded => true,
        :model => "Site",
        :name => "site",
        :columns => [:id, :title, :name, :description, :icon,
          :type, :lat, :lng, :remark, :space_id,
          :ground_strength_id, :rain, :night_time,
          :wind_hard, :power_source,
        ]
      }, {
        :class_name => "GridPanel",
        :preloaded => true,
        :model => "Space",
        :name => "space"
      },{
        :class_name => "GridPanel",
        :preloaded => true,
        :model => "GroundStrength",
        :name => "ground strength"
      }]
  }
}
%>
