<% title "Base information" %>

<div class="department_header">
  <%= render "shared/account" %>
</div>


<%= netzke :departments,
  :class_name => "TabPanel",
  :ext_config => { :border => true, :height => 500, :enableTabScroll=>true,},
  :items => [{
    :class_name => "GridPanel",
    :preloaded => true,
    :model => "GroundStrength",
    :name => "site ground strength"
  },{
    :class_name => "GridPanel",
    :preloaded => true,
    :model => "Dissaster",
    :name => "site disaster"
  },{
    :class_name => "GridPanel",
    :preloaded => true,
    :model => "WeightLimit",
    :name => "weight limit"
  },{
    :class_name => "GridPanel",
    :preloaded => true,
    :model => "DepartmentJob",
    :name => "department job",
  },{
    :class_name => "GridPanel",
    :preloaded => true,
    :model => "Size",
    :name => "equipment size",
    :columns => [:id, 
        {:name =>:name, :width => 200}, 
        {:name => :description, :width => 200}]
  }]
%>

