.flag_plus {
    background-image:url(/images/fugue/icons/_overlay/flag--plus.png) !important;
}

.map_view {
    background-image:url(/images/icons/map.png) !important;
}

.table_view {
    background-image:url(/images/icons/table.png) !important;
}

.department {
    background-image:url(/images/icons/lorry.png) !important;
}

.site {
    background-image:url(/images/icons/exclamation.png) !important;
}

.add_site {
    background-image:url(/images/icons/exclamation_add.png) !important;
}

.save {
    background-image:url(/images/icons/disk.png) !important;
}

.equipment_add {
    background-image:url(/images/icons/lorry_add.png) !important;
}

.equipment_delete {
    background-image:url(/images/icons/lorry_delete.png) !important;
}