.flag_plus {
  background-image:url(/images/fugue/icons/_overlay/flag--plus.png) !important;	
}

.map_view {
  background-image:url(/images/fugue/icons/map.png) !important;	
}

.table_view {
  background-image:url(/images/fugue/icons/table.png) !important;	
}