body{
    font-family: tahoma,arial,helvetica,sans-serif;
}

#log-list {
    font-size: 12px;
    padding: 3px;
    height: 100px;
    overflow: auto;
}

#header {
    color: #15428B;
}

#header H1 {
    display:inline-block;
    font-size:15px;
    font-weight:bold;
    margin-top:3px;
}

#account {
    display:inline-block;
    float:right;
    font-size:12px;
}

.netzke-widget { margin: 0px 5px; }
