<div id="header">
  <h1>Equipment Decision Support</h1>
  <div id="account">
    Apirak |
    <a href="/">home</a> |
    <a href="department">base information</a> |
    <a href="property">property information</a> |
    <a href="#">account</a> |
    <a href="#">help</a> |
    <a href="#">logout</a>
  </div>
</div>